{% extends "template.html.twig" %}
{% block title %}
	{{actor.prenom}}
	{{actor.nom}}
{% endblock %}
{% block body %}
	{% if actor.id %}
		<h1 class="mt-5">{{actor.prenom}}
			{{actor.nom}}</h1>
		<ul>
			<li>Né le :
				{{actor.naissance}}</li>
			<li>A joué(e) dans :
				<ul>
					{% for movie in movies %}
						<li>
							<a href="{{baseUrl}}/movie/{{movie.id}}">{{movie.titre}}
							</a>
						</li>
					{% endfor %}
				</ul>
			</li>
		</li>
	</ul>
	<img class="avatar" src="{{baseUrl}}/assets/img/avatar.png" width="300px" alt="avatar">
	<p>
		{{actor.biographie}}
	</p>
{% else %}
	<h1 class="mt-5">Cet acteur n'existe pas</h1>
{% endif %}{% endblock %}
