{% extends "template.html.twig" %}

{% block body %}
	<h1 class="mt-5">Tous les acteurs</h1>
	<ul>
		{% for actor in actors %}
			<li>
				<a href="{{baseUrl}}/actor/{{actor.id}}">{{ actor.prenom}}
					{{actor.nom}}
				</a>
			</li>
		{% endfor %}
        {{dump(actors)}}
	</ul>
{% endblock %}
