{% extends "template.html.twig" %}
{% block title %}
	{{director.prenom}}
	{{director.nom}}
{% endblock %}
{% block body %}
	<h1 class="mt-5">{{director.prenom}}
		{{director.nom}}</h1>
	<ul>
		<li>Né le :
			{{director.naissance}}</li>
		<li>Nationalité : on sait pas</li>
	</ul>
	<img class="avatar" src="{{baseUrl}}/assets/img/avatar.png" width="300px" alt="avatar">
	<p>
		{{director.biographie}}
	</p>
{% endblock %}
