{% extends "template.html.twig" %}
{% block title %}{{movie.titre}}
{% endblock %}
{% block body %}
	<h1 class="mt-5">{{movie.titre}}</h1>
	<ul>
		<li>Réalisé par:{{movie.artiste}} </li>
		<li>Année:
			{{movie.annee}}</li>
		<li>Acteurs:
		</li>
		<li>Genre:
			{{movie.genre}}
		</li>
	</ul>
	<h2>Synopsis</h2>
	<img src="{{baseUrl}}/assets/img/affiches/{{movie.affiche}}">
	<p>
		{{movie.synopsis}}
	</p>
{% endblock %}
